#intro{text-align:center;color:red;background-color:yellow;font-size:50px;font-weight:700;padding:50px;text-shadow:5px 4px 3px gray;}
.second{background-color:#87CEFA;}
ul{text-align:center;list-style:none;font-style:italic;border-radius:40px 40px 40px 40px;}
.third{font-style:italic;color:red;background-color:yellow;text-align:center;font-size:20px;}
.fourth{color:blue;}
.fifth{color:blue;}
.sixth{color:yellow;background-color:red;font-size:20px;font-style:oblique;text-align:right;}
.seventh{color:white;}
.eight{color:white;}
h3{text-align:right;font-size:20px;background-color:yellow;}
