h1{text-align:center;font-size:40px;color:blue;text-shadow:5px 4px 3px red;}
p.first{text-align:center;color:red;font-style:normal;font-size:20px;}
h2{text-align:center;font-size:30px;color:blue;text-shadow:4px 2px 2px red;}
b.second{color:orange;}

